.App .font {
  font-family: monospace;
}
.App .container {
  max-width: 630px;
  box-shadow: rgba(102, 102, 105, 0.18) 5px 6px 7px 0;
}
.App .open-source {
  display: block;
  font-family: monospace;
  text-align: center;
}
