.Header .logo {
  max-width: 70px;
}
.Header .alert-for {
  font-size: 16px;
  font-family: monospace;
}
.Header .btn-close {
  height: 1px;
  width: 2px;
}
.Header .time {
  text-align: right;
  font-size: 20px;
  font-family: monospace;
}
