.TodayPrevision .today-celsius {
  font-size: 60px;
  font-family: monospace;
  border: none;
  width: 70px;
}
.TodayPrevision .celsius {
  font-size: 18px;
  font-family: monospace;
  color: #007bff;
}
.TodayPrevision .img-prevision {
  width: 50px;
}
